.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 3rem;
  margin-top: 5rem;
  top: 5rem;
}
.footer-container > hr {
  border: 1px solid lightgrey;
}
.footer-container > div {
  display: flex;
  font-size: 2rem;
  color: white;
  justify-content: space-around;
  padding-bottom: 10rem;
}
@media screen and (max-width: 780px) {
  .footer-container {
    gap: 1rem;
    margin-top: 0;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .footer-container > div {
    justify-content: center;
    display: flex;
    font-size: 1rem;
    padding-bottom: 4rem;
    gap: 1rem;
  }
}
