.programs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.programs-header {
  display: flex;
  gap: 4rem;
  padding: 2rem;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  justify-content: space-between;
  text-transform: uppercase;
  font-style: italic;
}
.program-categories {
  display: flex;
  gap: 1rem;
}
.program-categories :hover {
  cursor: pointer;;
 background: orange ;
}
.category {
  display: flex;
  flex-direction: column;
  background: rgb(78, 77, 77);
  padding: 2rem;
  gap: 1rem;
  color: white;
  justify-content: space-between;
}
.category > :nth-child(1) {
  width: 2rem;
  height: 2rem;
}
.category > :nth-child(2) {
  font-size: 1rem; 
  line-height: 25px;
  font-weight: bold;
}
.category > :nth-child(3) {
  font-size: 0.9rem;
  line-height: 25px;
}
.join-now{
    display: flex;
    align-items: center;
    gap:2rem;
}
.join{
    width: 2rem;
    height: 2rem;
    background-color:transparent;
    outline: none;
    border: none;
}

@media screen and (max-width: 780px) {
.programs-header{
  flex-direction: column;
  gap: 1rem;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  margin: -1rem;
}
.program-categories{
  flex-direction: column;
  
}
}

